<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.abhan.example"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk
		android:maxSdkVersion="16"
		android:minSdkVersion="4"
		android:targetSdkVersion="7"/>
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="false"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
	<application
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar">
		<uses-library android:name="com.google.android.maps"/>
		<activity
			android:name=".SplashActivity"
			android:launchMode="standard"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".PinDropActivity"
			android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>
	</application>
</manifest>